@*@model IEnumerable<UserBuyScreen.Models.ModelAdvertiseImages>

    @{
        ViewBag.Title = "ShowByProducts";
    }

    <h2>ShowByProducts</h2>


    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.advertiseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.advertiseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.advertisePrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.imageData)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.advertiseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.advertiseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.advertisePrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.imageData)
            </td>

        </tr>
    }

    </table>*@


@*@model IEnumerable<UserBuyScreen.Models.ModelAdvertiseImages>

    @{
        ViewBag.Title = "Product Details";
        Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout file
    }

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>@ViewBag.Title</h2>
                <table class="table">
                    <tr>
                        <th>
                            Product Title
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.FirstOrDefault().advertiseTitle)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Description
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.FirstOrDefault().advertiseDescription)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Price
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.FirstOrDefault().advertisePrice)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Product Images</h2>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <img src="@Url.Content(item.imageData)" alt="Product Image" class="img-fluid">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@


@model IEnumerable<UserBuyScreen.Models.ModelAdvertiseImages>

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout file
}
<style>

    .list-group-item{
        z-index:-5;
    }
</style>
<div class="container mt-5">
    <h2>@ViewBag.Title</h2>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <h3>@item.advertiseTitle</h3>
                <p>@item.advertiseDescription</p>
                <p>Price: @item.advertisePrice</p>
                @*<img src="@Url.Content(item.imageData)" alt="Product Image" class="img-fluid">*@
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.imageData)" alt="Images" width="100" height="100" />
               
            </li>
        }
    </ul>
</div>


